
#container{
	background:#fff;
  	width:340px;
	height:340px;
  	border-radius:10px;
	border:#000 7px solid;
	padding:20px;
	margin: auto;
}

h1 {
	text-align: center;
}

h3 {
	text-align: center;
}

input{
	background:#fff;
	border-radius:6px;
	border:#000 4px solid;
	display: block;
    width: 300px;
    margin: auto;
    font-size: 150%;
    font-weight: 900;
    padding: 10px;
}

button{
	color: #000;
    background: #fff;
    border-radius: 6px;
    border: #000 4px solid;
    display: block;
    width: 300px;
    margin: auto;
    font-size: 150%;
    font-weight: 900;
    padding: 10px;
    text-align: center;
}